@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script:wght@700&family=Merriweather&family=Poppins:wght@300;400;500;600;700&display=swap');

main{

    width: 600px;
    border: 2px solid #000;
    margin: 50px auto;
    padding: 5px;
    box-sizing: border-box;
    display: grid;
    grid-template-areas: "header header"

                         "container side"

                          "nav side"

                          "footer footer";

    grid-template-columns: 1fr 1.5fr;

    grid-template-rows: 1fr 1fr 1.3fr;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 32px 83px 0 83px;
    grid-area: header;
}

.navbar{
    display: flex;
    float: left;
}

.navbar h1 {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    margin-right: 90.6px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    display: flex;
}

.menu ul li {
    list-style: none;
    margin-right: 40px;
}

.menu ul li a {
    color: rgba(134, 134, 134, 1);
    text-decoration: none;
}

.menu ul li a:hover {
    color: #fff;
    text-decoration: none;
}

/* .menu ul li .active {
    color: #fff;
    text-decoration: none;
} */

.searchBox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.searchBox input {
    background: #374151;
    border-radius: 37px;
    width: 374.58px;
    height: 48px;
    padding-left:25px;
}

/* */
body {
    background-color: #192026;
    font-family: 'Poppins', sans-serif;
    color: white;
}

/* Aside left */
.container {
    padding: 0 130px;
    display: grid;
    width: 80%;
    grid-area: side;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 150px 100px;
    column-gap: 50px;
    row-gap: 20px; 
}

.detail-movie{
    border-bottom: 1px solid white;
}

.video {
    width: 800px;
    height: 472px;
    background-color: #0F0F0F;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
}

.video:hover .yt{
    fill:#FF0000;
}

/* Navbar/Nav */
nav{
    padding: 50px;
    background-color: lightcyan;
    grid-area: nav;

}

/* Content/Section */
.side {
    display: grid;
    grid-area: side;
}

.popular-pic{
    width: 50%;
    padding:10px;
}
.popular-pic img{
    width:200px;
    height:200px;;
    
}

/* Footer

    Animation Text, */

    .title-word {
        animation: color-animation 4s linear infinite;
      }
      
      .title-word-1 {
        --color-1: #f0661c;
        --color-2: #0f31f7;
        --color-3: #79e911;
      }
      
      .title-word-2 {
        --color-1: #f3d009;
        --color-2: #ACCFCB;
        --color-3: #fef7ff;
      }

      .title-word-3 {
        --color-1: #e96b6b;
        --color-2: #df4947;
        --color-3: #ec0808;
      }
      
      @keyframes color-animation {
        0%    {color: var(--color-1)}
        32%   {color: var(--color-1)}
        33%   {color: var(--color-2)}
        65%   {color: var(--color-2)}
        66%   {color: var(--color-3)}
        99%   {color: var(--color-3)}
        100%  {color: var(--color-1)}
      }

      .title {
        font-family: "Montserrat", sans-serif;
        font-weight: 800;
        font-size: 8.5vw;
        text-transform: uppercase;
      }

/* Tata letak warna  */
.container-footer{
    grid-area: footer;
}

.container-footer h2{
    color: white;
    font-style: normal;
    font-size: 20px;
    margin-left:129px;
}