@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script:wght@700&family=Merriweather&family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    background-color: #192026;
    font-family: 'Poppins', sans-serif;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 32px 83px 0 83px;
}

.container {
    padding: 0 130px;
}

.navbar{
    display: flex;
}

.menu {
    display: flex;
    align-items: center;
}

.navbar h1 {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    margin-right: 90.6px;
}

.menu ul {
    display: flex;
}

.menu ul li {
    list-style: none;
    margin-right: 40px;
}

.menu ul li a {
    color: rgba(134, 134, 134, 1);
    text-decoration: none;
}
.menu ul li a:hover {
    color: #fff;
    text-decoration: none;
}
/* .menu ul li .active {
    color: #fff;
    text-decoration: none;
} */

.navbar {
    float: left;
}

.searchBox {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.searchBox input {
    background: #374151;
    border-radius: 37px;
    width: 374.58px;
    height: 48px;
    padding-left:25px;
}

.video {
    width: 800px;
    height: 472px;
    background-color: #0F0F0F;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
}

.video:hover .yt{
    fill:#FF0000;
    
}

.detail-movie{
    border-bottom: 1px solid white;
}


.container-footer h2{
    color: white;
    font-style: normal;
    font-size: 20px;
    margin-left:129px;
}

.container-footer p{
    margin-left:129px;
    opacity:0.5;
}